# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.envrc

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
